{% extends 'base2.html' %}
{% load static %}


{% block content3 %}

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content mt-5" style="max-width:1400px">

    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        {% block content2 %}
        {% endblock %}
        <!-- END BLOG ENTRIES -->

        <!-- Introduction menu -->
        

        <!-- END GRID -->
    </div><br>

    <!-- END w3-content -->
</div>

{% endblock %}

<!-- Footer
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer> -->