{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    {% endblock %} {% block extracss %} {% endblock %}
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", sans-serif
        }

        body,
        html {
            height: 100%;
            line-height: 1.8;
        }

        /* Full height image header */
        .bgimg-1 {
            background-position: center;
            background-size: cover;
            background-image: url("/w3images/mac.jpg");
            min-height: 100%;
        }

        .w3-bar .w3-button {
            padding: 16px;
        }
    </style>
</head>

<body>
    {% block menu %}
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-wide">
                <img src="{% static '/img/logo-vector.svg' %}" width="28" height="28" class="d-inline-block align-top"
                    alt="" />
                Hechos Con Alma
            </a>

            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <a href="#about" class="w3-bar-item w3-button"> Quiénes somos</a>
                <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Objetivos</a>
                <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Proyectos</a>
                <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> Colabora con nosotros</a>
                <a href="{% url 'post_list' %}" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Blog</a>

                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="w3-bar-item w3-button"> Cerrar sesión </a>
                {% else %}
                <a href="{% url 'login' %}" class="w3-bar-item w3-button"> Iniciar sesión </a>
                {% endif %}
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>


    <!-- <nav id="navbar_top" class="navbar navbar-expand-sm navbar-fixed-top p-4" style="background-color: #e3f6f6">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static '/img/logo-vector.svg' %}" width="30" height="30" class="d-inline-block align-top"
                    alt="" />
                Hechos Con Alma
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'post_list' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quíenes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Objetivos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Proyectos</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Colabora con nosotros</a>
                    </li>

                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="btn btn-outline-primary"> Cerrar sesión </a>
                        {% else %}
                        <a href="{% url 'login' %}" class="btn btn-outline-success"> Iniciar sesión </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

    <!-- <nav class="navbar navbar-expand-sm" style="background-color: #e3f6f6">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li>
                        <a class="dropdown-item" href="#">Taller de Acompañamiento</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Huerta Agrocológica</a></li>
                    <li><a class="dropdown-item" href="#">Productos de Limpieza</a></li>
                    <li><a class="dropdown-item" href="#">Radio</a></li>
                    <li><a class="dropdown-item" href="#">Comedor y merendero</a></li>
                </ul>
            </div>
        </div>
    </nav> -->
    {% endblock %} {% block content %}
    <div class="container">
        <h1>Página de inicio por defecto: {{ user }}</h1>
    </div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
    {% block javascripts %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}
    {% block extrajs %}
    {% endblock %}
</body>

</html>