{% extends 'base_blog.html' %}
{% load static %}


{% block content2 %}

<div class="w3-col l8 s12 mt-5">
    <!-- Blog entry -->
    <div class="row">
        <div class="col-lg-6">
            {% if request.user.is_staff %}
            <div class="w3-bar">
                <a   href="{% url 'post_create' %}"><button class="w3-bar-item w3-button w3-teal w3-padding-small">Nuevo post</button></a>
                <a  href="{% url 'category_list' %}"><button class="w3-bar-item w3-button w3-black w3-padding-small">Categorías</button></a>
            </div>
             {% endif %}
        </div>
        <div class="col-lg-6">
            <form action="" method="get">
                <input type="search" name="search_any" id="">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>
   
    
    {% for post in posts %}

    <div class="w3-card-4 w3-margin w3-white pb-3" style="max-height: 500px;">
        <img src="{{ post.imagen.url }}" alt="Nature" style="width:100%; max-height: 250px; object-fit: cover;">
        <div class="w3-container">
            <h3><b>{{ post.title }}</b></h3>
            <h6><span class="w3-opacity">{{ post.created_at }}</span></h6>
        </div>

        <div class="w3-container">

            <p class="card-text">{{ post.content | truncatechars:140 }}

            <div class="w3-row">
                <div class="w3-col m8 s12">
                    <a href="{% url 'post_detail' post.id %}" class="w3-button w3-padding-large w3-white w3-border"
                        style="background-color: #0b96a0;">Seguir leyendo</a>

                    {% if request.user.is_staff %}
                        <a href="{% url 'post_update' post.id %}" class="w3-button w3-padding-large w3-white w3-border"
                            style="background-color: #0b96a0;">Editar</a>
                        <a href="{% url 'post_delete' post.id %}" class="w3-button w3-padding-large w3-white w3-border"
                            style="background-color: #0b96a0;">Borrar</a>
                    {% endif %}
                </div>
                <div class="w3-col m4 w3-hide-small">
                    <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <hr>
    {% endfor %}

</div>

{% endblock %}